body {
    background-color: oldlace;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

.recipes-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding: 100px 0;
}

.recipes-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    transition: all .3s ease-in-out;
}

.recipes-container a:hover {
    scale: 1.03;
}

.recipes-container img {
    width: 250px;
}

.title-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-card a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    transition: all .3s ease-in-out;
}

.title-card a:hover {
    scale: 1.03;
}

.title-card img {
    width: 500px;
    padding: 25px 0;
}

.recipe-desc {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.recipe-desc h2 {
    font-size: 2rem;
    text-align: center;
}

.recipe-desc p, .recipe-desc li {
    margin: 10px;
    font-size: 1.1rem;
    text-align: justify;
}
